<% @pagetitle = "設定" %>
<div class="edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "メールアドレス　", :class => "form_label" %>
    <%= f.email_field :email, autofocus: true, :placeholder => "メールアドレス", :class => "textform" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
    <%= f.label :password, "新しいパスワード", :class => "form_label" %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "変更しない場合は空のままにしてください", :class => "textform" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワードの確認", :class => "form_label" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "新しいパスワードの再入力", :class => "textform" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード", :class => "form_label" %>
    <%= f.password_field :current_password, autocomplete: "off", :placeholder => "変更を保存する場合は現在のパスワードを入力してください", :class => "textform form_last" %>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存", :class => "button" %>
  </div>
<% end %>

<!--
<h3>Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
-->

</div>