<table class="table table-striped">
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 20 %></td>
  </tr>
  <tr>
    <th><%= form.label :text %></th>
    <td><%= form.text_area :text, rows: 20, cols: 50 %></td>
  </tr>
  <tr>
    <th><%= form.label :released_at, for: "article_released_at_1i" %></th>
    <td><%= form.datetime_select :released_at, start_year: 2000, end_year: Time.now.year + 1, use_month_numbers: true %></td>
  </tr>

</table>