<% @pagetitle = "お知らせ" %>

<div class="art art_search">
	<p class="search_form">
		<%= form_tag articles_path, :method => 'get' do %>
			<span><%= submit_tag " ", :name => nil, :class => "search_btn", :id => "submit" %></span>
			<%= text_field_tag :search, params[:search], :placeholder => "キーワード検索", :class => "search", :id => "text" %>
		<% end %>
		<%= form_tag articles_path, :method => 'get' do %>
			<%= hidden_field_tag :search, params[:search], :value => nil %>
			<%= submit_tag "", :name => nil, :id => "cancel", :class => "cancel" %>
		<% end %>
	</p>
</div>

<div class="art_sent">
	<% if @articles.present? %>
		<p class="check">未読</p>
		<div class="articles">
			<% @articles.order('id desc').each do |article| %>
				<% if article.checked == false %>
					<div class="art">
						<span class="checked"></span>
						<div class="article_title"><%= link_to article.title, article , :class => "article_link" %></div>
						<div class="article_time">追加日：<%= article.released_at.strftime("%Y/%m/%d %H:%M") %></div>
					</div>
				<% end %>
			<% end %>
		</div>
		<p class="check">既読</p>
		<div class="articles">
			<% @articles.order('id desc').each do |article| %>
				<% if article.checked == true %>
					<div class="art">
						<div class="article_title"><%= link_to article.title, article , :class => "article_link" %></div>
						<div class="article_time">追加日：<%= article.released_at.strftime("%Y/%m/%d %H:%M") %></div>
					</div>
				<% end %>
			<% end %>
		</div>
	<% else %>
		<p>お知らせがありません。</p>
	<% end %>
</div>
<!--
<div>
	<% if current_user %>
		<p><%= link_to "新規作成", :new_article , :class => "new_article" %></p>
	<% end %>
</div>
-->