<% @pagetitle = "お知らせ" %>
<div class="article">
    <div class="art_show">
        <span class="art_tit">詳細</span>
        <div class="art_cont">
            <h2><%= @article.title %></h2>
            <p class="released">追加日：<%= @article.released_at.strftime("%Y/%m/%d %H:%M") %></p>
            <p class="show_text"><%= @article.text %></p>
        </div>
    </div>
</div>