/* line 6, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.art_search {
  position: absolute;
  top: 50px;
  left: 0;
  width: calc(100% - 30px);
  padding: 5px 15px;
  background-color: #fff;
}

/* line 14, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.art_sent {
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  width: calc(100% - 30px);
  padding: 5px 15px;
  background-color: #fff;
}

/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.search_form {
  width: 100%;
}
/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.search_form .search_btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-image: url("/assets/search.png");
  background-size: contain;
  border: 1px solid #88f;
  border-radius: 3px;
}
/* line 37, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.search_form #submit[disabled] {
  border: none;
  box-shadow: none;
}
/* line 41, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.search_form .cancel {
  width: 20px;
  height: 20px;
  background-color: #f00;
}
/* line 46, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.search_form #cancel[disabled] {
  visibility: hidden;
}
/* line 49, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.search_form .search {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  height: 30px;
  border: none;
}

/* line 57, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.new_article {
  display: block;
  width: 100%;
  height: 20px;
  text-align: right;
  text-decoration: none;
  font-size: 0.7em;
  color: #555;
}

/* line 66, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.articles {
  margin-top: 20px;
  color: #555;
}
/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.articles p {
  display: block;
  border-top: 1px solid #ddd;
  height: 40px;
  width: 100%;
  padding: 0;
}
/* line 75, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.articles p .checked {
  width: 10px;
  height: 10px;
  background-color: #7e8;
  float: right;
  margin: 10px;
  border-radius: 5px;
}
/* line 83, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.articles p .article_title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
/* line 88, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.articles p .article_title .article_link {
  display: block;
  width: 100%;
  color: #444;
  text-decoration: none;
}
/* line 95, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.articles p .article_time {
  font-size: 0.7em;
  color: #77e;
  padding: 0;
  margin: 0;
  right: 5px;
}

/* line 106, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.article {
  color: #555;
  width: 100%;
}
/* line 109, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.article h2 {
  font-size: 1.1em;
  font-weight: lighter;
}
/* line 113, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.article .released {
  font-size: 0.8em;
  color: #777;
}
/* line 117, /home/ubuntu/workspace/app/assets/stylesheets/articles.scss */
.article p {
  font-size: 0.9em;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact {
  margin: 0;
  padding: 0;
}
/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .head .change_btn {
  width: 25%;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #00aced;
}
/* line 14, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .head .change_btn a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #00aced;
  line-height: 40px;
}
/* line 22, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .head .active {
  background-color: #00aced;
}
/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .head .active a {
  color: #fff;
}
/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .head .btn1 {
  position: fixed;
  top: 50px;
  left: 0;
}
/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .head .btn2 {
  position: fixed;
  top: 50px;
  left: 25%;
}
/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .head .btn3 {
  position: fixed;
  top: 50px;
  left: 50%;
}
/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .head .btn4 {
  position: fixed;
  top: 50px;
  left: 75%;
}
/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .contact_content {
  margin-top: 100px;
  color: #444;
}
/* line 53, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .contact_content .space {
  margin-top: 20px;
}
/* line 56, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .contact_content h4 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-weight: lighter;
}
/* line 62, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .contact_content h3 {
  font-weight: lighter;
}
/* line 66, /home/ubuntu/workspace/app/assets/stylesheets/contacts.scss */
#contact .new {
  color: #000;
  font-size: 0.8em;
  text-decoration: none;
  text-align: center;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/links.scss */
.list {
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
}
/* line 12, /home/ubuntu/workspace/app/assets/stylesheets/links.scss */
.list p {
  width: 100%;
  margin: 0;
}
/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/links.scss */
.list p a {
  display: block;
  height: 70px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border-top: 1px solid #aaa;
}
/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/links.scss */
.list p a span .img {
  padding: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: top;
  margin: 15px;
}
/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/links.scss */
.list p a .list_text {
  padding: 0;
  line-height: 70px;
  vertical-align: 50%;
  color: #444;
}
/* line 41, /home/ubuntu/workspace/app/assets/stylesheets/links.scss */
.list p .list_last {
  border-bottom: 1px solid #aaa;
}
/* Slider */

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset "UTF-8";
/* line 6, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops #semester_btn {
  width: 100%;
  height: 20px;
}
/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops #semester_btn .btn {
  -webkit-appearance: none;
  position: fixed;
  z-index: 0;
  top: 50px;
  width: 50%;
  height: 40px;
  background-color: #fff;
  color: #00aced;
  border: none;
  border-bottom: 1px solid #00aced;
  border-radius: 0px;
}
/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops #semester_btn .btn1 {
  position: fixed;
  left: 0;
  top: 50px;
}
/* line 28, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops #semester_btn .btn2 {
  position: fixed;
  left: 50%;
  top: 50px;
}
/* line 33, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops #semester_btn .checked {
  background-color: #00aced;
  color: #fff;
}
/* line 38, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .schedule {
  padding: 0;
  color: #444;
}
/* line 41, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .schedule h3 {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 46, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .schedule h4 {
  padding-bottom: 0;
}
/* line 49, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .schedule .contact {
  color: #f00;
}
/* line 52, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .schedule .coma {
  width: 100%;
  height: 50px;
  background-color: #444;
  color: #fff;
  box-shadow: 1px 1px 3px #000;
  border-radius: 3px;
}
/* line 59, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .schedule .coma div {
  line-height: 50px;
  margin: 5px 10px;
}
/* line 62, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .schedule .coma div .place {
  float: right;
}
/* line 68, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .weekly {
  margin-top: 10px;
}
/* line 71, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops .new {
  text-align: center;
  font-size: 0.8em;
}

/*----------------------------------------------
    登録フォーム
----------------------------------------------*/
/* line 81, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops_new {
  width: 100%;
}
/* line 83, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops_new div {
  margin: 20px;
}
/* line 85, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops_new div li {
  list-style: none;
}
/* line 89, /home/ubuntu/workspace/app/assets/stylesheets/tops.scss */
.tops_new .submit_btn {
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 
@font-face {
    font-family: 'Noto Sans';
    src: font-url('Note Sans CJK JP.woff') format('woff');
}

body {
    background-color: #ddd;
    width: 100%;
}

#contents {
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 100%;
    font-family: 'Noto Sans';
    font-size: 0.9em;
    -webkit-text-size-adjust : 100% ;
}

/*------------------------------------------------------------------------------
header
------------------------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #eee;
    box-shadow: 0px 0px 2px;
    z-index: 3;
}
#header p {
    text-align: center;
    color: #000;
}
.logout_button {
    position: fixed;
    top: 12px;
    right: 10px;
    height: 26px;
    color: #000;
    line-height: 26px;
    font-size: 0.5em;
    text-decoration: none;
}


/*------------------------------------------------------------------------------
footer
------------------------------------------------------------------------------*/
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 2px;
    background-color: #efefef;
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer li{
    float: left;
    width: 20%;
    margin: 0;
    padding: 0;
    font-size: 0.2em;
}
#footer .img_span {
    width: 100%;
}
#footer .footer_img {
    width: 24px;
    margin: 3px 0 0 calc(50% - 12px);
    text-align: center;
}
#footer .foot-navi{
    text-align: center;
    display:block;
    width: 100%;
    padding: 0;
    color: #666;
    text-decoration: none;
}
#footer li .article_count {
    position: absolute;
    top: 3px;
    left: 31%;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 8px;
    background-color: #f44;
    color: #fff;
}

/*------------------------------------------------------------------------------
form
------------------------------------------------------------------------------*/
.edit {
    position: absolute;
    top: 50px;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 50px);
    background-color: #fff;
    padding: 5px 15px;
}
.field {
    width: 100%;
    border-top: 1px solid #ddd;
}
.form_label {
    display: block;
    font-size: 0.7em;
}
.login_form {
    padding-top: 10px;
}
.remember_label {
    display: inline;
    font-size: 0.7em;
}
.textform {
    width: 100%;
    height: 40px;
    border: none;
}
.form_last {
    border-bottom: 1px solid #ddd;
}
.actions {
    margin-top: 20px;
    text-align: center;
}
.button {
    -webkit-appearance: none;
    width: 50%;
    height: 40px;
    background-color: #69e;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-size: 0.9em;
}
.repass {
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}
