<% @pagetitle = "講義の新規登録" %>

<div>
    <%= form.label :class_name, "講義名" %>
    <%= form.text_field :class_name, size: 30 %>
</div>

<div>
    <%= form.label :class_type, "種類" %>
    <ul>
        <li><%= form.radio_button :class_type, "専門科目" %>専門科目</li>
        <li><%= form.radio_button :class_type, "一般教養" %>一般教養科目</li>
        <li><%= form.radio_button :class_type, "資格科目" %>資格科目</li>
    </ul>
</div>

<div>
    <%= form.label :class_place, "教室" %>
    <%= form.text_field :class_place, size: 30 %>
</div>

<div>
    <%= form.label :weekday, "曜日" %>
    <%= form.radio_button :weekday, 1 %>月
    <%= form.radio_button :weekday, 2 %>火
    <%= form.radio_button :weekday, 3 %>水
    <%= form.radio_button :weekday, 4 %>木
    <%= form.radio_button :weekday, 5 %>金
    <%= form.radio_button :weekday, 6 %>土
</div>

<div>
    <%= form.label :period, "時限" %>
    <%= form.radio_button :period, 1 %>１
    <%= form.radio_button :period, 2 %>２
    <%= form.radio_button :period, 3 %>３
    <%= form.radio_button :period, 4 %>４
    <%= form.radio_button :period, 5 %>５
    <%= form.radio_button :period, 6 %>６
</div>
<div>
    <%= form.label :semester, "学期" %>
    <%= form.radio_button :semester, 0 %>前期
    <%= form.radio_button :semester, 1 %>後期
</div>