<div id="contents" class="tops">
  <% @pagetitle = "スケジュール" %>
  <% d =  Date.today %>
  <% weekday = %w[日 月 火 水 木 金 土] %>
  <% w = 0 %>
  <% contact_count = 0 %>
  <% period_time = ['9:00〜10:30', '10:45〜12:15', '13:05〜14:35', '14:50〜16:20', '16:35〜18:05', '18:15〜19:45'] %>

  <% if params[:commit] == "後期" %>
    <div id="semester_btn">
      <%= form_tag tops_path, :method => 'get' do %>
        <%= submit_tag "前期", :id => "submit", :class => "btn btn1" %>
        <%= hidden_field_tag :search, params[:search], :value => 0 %>
      <% end %>
    </div>
    <div id="semester_btn">
      <%= form_tag tops_path, :method => 'get' do %>
        <%= submit_tag "後期", :id => "submit", :class => "btn btn2 checked" %>
        <%= hidden_field_tag :search, params[:search], :value => 1 %>
      <% end %>
    </div>
  <% else %>
    <div id="semester_btn">
      <%= form_tag tops_path, :method => 'get' do %>
        <%= submit_tag "前期", :id => "submit", :class => "btn btn1 checked" %>
        <%= hidden_field_tag :search, params[:search], :value => 0 %>
      <% end %>
    </div>
    <div id="semester_btn">
      <%= form_tag tops_path, :method => 'get' do %>
        <%= submit_tag "後期", :id => "submit", :class => "btn btn2" %>
        <%= hidden_field_tag :search, params[:search], :value => 1 %>
      <% end %>
    </div>
  <% end %>

  
  <% if @tops.present? %>
    <div class="schedule today">
      <h3 class="da">今日の講義</h3>
      <% @tops.order('period asc').each do |top| %>
        <% if d.wday == top.weekday %>
         <div class="coma">
           <div>
             <span>
               <%= top.period %>限
               ：<%= period_time[top.period - 1] %>
             </span>
             <span class="place"><%= top.class_place %>教室</span>
             <div><%= top.class_name %></div>
           </div>
          </div>
        <% end %>
      <% end %>
      <% @contacts.each do |contact| %>
        <% if d == contact.arrival_date %>
          <% contact_count += 1 %>
        <% end %>
      <% end %>
      <% if contact_count > 0 %>
        <p class="contact_s">※<%= link_to  "講義連絡あり", contacts_path, :class => "contact" %></p>
      <% end %>
    </div>
    <div class="schedule weekly">
      <h3>週間スケジュール</h3>
      <% @tops.order('weekday asc').each do |top| %>
        <% if !(w == top.weekday) %>
          <h4><%= weekday[top.weekday] %>曜日</h4>
        <% end %>
        <div class="coma">
          <div>
            <span>
              <%= top.period %>限
              ：<%= period_time[top.period - 1] %>
            </span>
            <span class="place"><%= top.class_place %>教室</span>
            <div><%= top.class_name %></div>
          </div>
        </div>
        <% w = top.weekday %>
      <% end %>
    </div>
  <% else %>
    <p>講義情報がありません。</p>
  <% end %>
  <!--
  <p class="new"><%= link_to "新規登録", :new_top %></p>
  -->
</div>