<% @pagetitle = "講義の新規登録" %>
<div class="tops_new">
    <%= form_for @top do |form| %>
    <%= render "form", form: form %>
        <p class="submit_btn"><%= form.submit "登録" %></p>
    <% end %>
</div>