<% @article_count = 0 %>
<% @articles.each do |article| %>
    <% if article.checked == false %>
        <% @article_count += 1 %>
    <% end %>
<% end %>

<ul>
    <li>
        <% if @pagetitle == 'スケジュール' %>
            <%= image_tag("top_color.png", :class => "footer_img") %>
            <%= link_to "スケジュール", tops_index_path, :class => "foot-navi-on" %>
        <% else %>
            <%= image_tag("top.png", :class => "footer_img") %>
            <%= link_to "スケジュール", tops_index_path, :class => "foot-navi" %>
        <% end %>
    </li>
    <li>
        <% if @article_count > 0 then %> 
            <label class="article_count"><%= @article_count %></label>
        <% end %>
        <% if @pagetitle == 'お知らせ' %>
            <%= image_tag("article_color.png", :class => "footer_img") %>
            <%= link_to "お知らせ", articles_path, :class => "foot-navi-on" %>
        <% else %>
            <%= image_tag("article.png", :class => "footer_img") %>
            <%= link_to "お知らせ", articles_path, :class => "foot-navi" %>
        <% end %>
    </li>
    <li>
        <% if @pagetitle == '講義連絡' %>
            <%= image_tag("contact_color.png", :class => "footer_img") %>
            <%= link_to "講義連絡", contacts_path, :class => "foot-navi-on" %>
        <% else %>
            <%= image_tag("contact.png", :class => "footer_img") %>
            <%= link_to "講義連絡", contacts_path, :class => "foot-navi" %>
        <% end %>
    </li>
    <li>
        <% if @pagetitle == 'リンク' %>
            <%= image_tag("link_color.png", :class => "footer_img") %>
            <%= link_to "リンク", links_path, :class => "foot-navi-on" %>
        <% else %>
            <%= image_tag("link.png", :class => "footer_img") %>
            <%= link_to "リンク", links_path, :class => "foot-navi" %>
        <% end %>
        
    </li>
    <li>
        <% if @pagetitle == '設定' %>
            <%= image_tag("setting_color.png", :class => "footer_img") %>
            <%= link_to "設定", edit_user_registration_path, :class => "foot-navi-on" %>
        <% else %>
            <%= image_tag("setting.png", :class => "footer_img") %>
            <%= link_to "設定", edit_user_registration_path, :class => "foot-navi" %>
        <% end %>
        
    </li>
</ul>