<div>
    <%= form.label :article_type, "お知らせの種類" %>
    <%= form.select :article_type, [["休講","rest"],["補講","extra"],["変更","change"]], :prompt => "選択してください" %>
</div>
<div>
    <%= form.label :class_name, "講義名" %>
    <%= form.text_field :class_name %>
</div>
<div>
    <%= form.label :arribal_date, "変更日" %>
    <%= form.date_select :arrival_date %>
</div>
<div>
    <%= form.label :class_place, "変更後の教室" %>
    <%= form.text_field :class_place %>
</div>
<div>
    <%= form.label :remark, "備考" %>
    <%= form.text_area :remark %>
</div>
<div>
    <%= form.label :published_at, "公開日" %>
    <%= form.datetime_select :published_at, start_year: 2000, end_year: Time.now.year + 1, use_month_numbers: true %>
</div>