<% @pagetitle = "講義連絡" %>

<div id="contact">
    <div class="contact_content">
        <% if @contacts.present? %>
            <h3>今日の講義連絡</h3>
            <div class="daily">
                <div class="content">
                    <div class="slider single-item">
                        <% @contacts.each do |contact| %>
                            <% if contact.arrival_date == Date.today %>
                                <div>
                                    <p>
                                        <% if contact.article_type == 'rest' %>休講：
                                        <% elsif contact.article_type == 'extra' %>補講：
                                        <% else %>変更：
                                        <% end %>
                                        <%= contact.class_name %>
                                    </p>
                                    <p class="remark"><%= contact.remark %></p>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>

            <h4 id="rest1">休講</h4>
            <div class="change">
                <% @contacts.order('arrival_date asc').each do |contact| %>
                    <% if contact.arrival_date >= Date.today && contact.class_name.present? %>
                        <% if contact.article_type == "rest" %>
                            <div class="cont">
                                <div class="cont_in">
                                    <div>
                                        <%= contact.class_name %>
                                        <span><%= contact.arrival_date %></span>
                                    </div>
                                    <div class="remark"><%= contact.remark %></div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <h4 id="extra1">補講</h4>
            <div class="change">
                <% @contacts.order('arrival_date asc').each do |contact| %>
                    <% if contact.arrival_date >= Date.today && contact.class_name.present? %>
                        <% if contact.article_type == "extra" %> 
                            <div class="cont">
                                <div class="cont_in">
                                    <div>
                                        <%= contact.class_name %>
                                        <span><%= contact.arrival_date %></span>
                                    </div>
                                    <% if contact.class_place.present? %>
                                        <div><%= contact.class_place %>教室</div>
                                    <% end %>
                                    <div class="remark"><%= contact.remark %></div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <h4 id="change1">変更</h4>
            <div class="change">
                <% @contacts.order('arrival_date asc').each do |contact| %>
                    <% if contact.arrival_date >= Date.today && contact.class_name.present? %>
                        <% if contact.article_type == "change" %>
                            <div class="cont">
                                <div class="cont_in">
                                    <div>
                                        <%= contact.class_name %>
                                        <span><%= contact.arrival_date %></span>
                                    </div>
                                    <% if contact.class_place.present? %>
                                        <div>変更後：<%= contact.class_place %>教室</div>
                                    <% end %>
                                    <div class="remark"><%= contact.remark %></div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        <% else %>
            <p>講義連絡はありません。</p>
        <% end %>
        <!--
        <%= link_to "登録", new_contact_path, :class => "new" %>
        -->
    </div>
</div>