<% @pagetitle = "講義連絡の新規登録" %>

<div class="contents">
    <%= form_for @contact do |form| %>
        <%= render "form", form: form %>
        <p><%= form.submit "登録" %></p>
    <% end %>
</div>


<%= link_to "一覧に戻る", contacts_path %>