<% @pagetitle = "リンク" %>
<div class="list">
    <p>
        <a href="https://twitter.com/?lang=ja">
            <span><%= image_tag 'twitter.jpg', :class => "img" %></span>
            <label class="list_text">Twitter</label>
        </a>
    </p>
    <p>
        <a href="https://direct4b.com/signin/">
            <span><%= image_tag 'direct.png', :class => "img" %></span>
            <label class="list_text">direct</label>
        </a>
    </p>
    <p>
        <a href="http://mail.senshu-u.jp/">
            <span><%= image_tag 'Gmail.gif', :class => "img" %></span>
            <label class="list_text">専修大学Gmail</label>
        </a>
    </p>
    <p>
        <a href="https://cp.ss.senshu-u.ac.jp/lms/">
            <span><%= image_tag 'coursepower.gif', :class => "img" %></span>
            <label class="list_text">CoursePower</label>
        </a>
    </p>
    <p>
        <a href="https://s-net.acc.senshu-u.ac.jp/career/index.jsp">
            <span><%= image_tag 'Snet.gif', :class => "img" %></span>
            <label class="list_text">就職支援システム S-net</label>
        </a>
    </p>
    <p>
        <a href="https://syllabus.acc.senshu-u.ac.jp/syllabus/syllabus/search/Menu.do">
            <span><%= image_tag 'syllabus.gif', :class => "img" %></span>
            <label class="list_text">Webシラバス</label>
        </a>
    </p>
    <p>
        <a href="https://www.career-note.jp/" class="list_last">
            <span><%= image_tag 'webcarrier.gif', :class => "img" %></span>
            <label class="list_text">Webキャリアノート</label>
        </a>
    </p>
</div>




