<% @pagetitle = "専修大学" %>
<div class="sessions">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field login_form">
      <%= f.email_field :email, autofocus: true, :class => "textform", :placeholder => "メールアドレス" %>
    </div>
  
    <div class="field login_form">
      <%= f.password_field :password, autocomplete: "off", :class => "textform", :placeholder => "パスワード" %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="field remember_label">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "メールアドレスとパスワードを記憶する" %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "ログイン", :class => "button", :commit => 0 %>
    </div>
  <% end %>
  <div class="repass">
    <%= render "devise/shared/links" %>
  </div>
</div>

