/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@font-face {
    font-family: 'Noto Sans';
    src: font-url('Note Sans CJK JP.woff') format('woff');
}

body {
    background-color: #ddd;
    width: 100%;
    margin: 0;
    padding: 0;
}

#contents {
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 100%;
    font-family: 'Noto Sans';
    font-size: 0.9em;
    -webkit-text-size-adjust : 100% ;
}

/*------------------------------------------------------------------------------
header
------------------------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #eee;
    box-shadow: 0px 0px 2px;
    z-index: 3;
}
#header p {
    text-align: center;
    color: #000;
}
.logout_button {
    position: fixed;
    top: 12px;
    right: 10px;
    height: 26px;
    color: #000;
    line-height: 26px;
    font-size: 0.5em;
    text-decoration: none;
}


/*------------------------------------------------------------------------------
footer
------------------------------------------------------------------------------*/
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 2px;
    background-color: #efefef;
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer li{
    float: left;
    width: 20%;
    margin: 0;
    padding: 0;
    font-size: 0.2em;
}
#footer .img_span {
    width: 100%;
}
#footer .footer_img {
    width: 24px;
    margin: 3px 0 0 calc(50% - 12px);
    text-align: center;
}
#footer .foot-navi, #footer .foot-navi-on{
    text-align: center;
    display:block;
    width: 100%;
    padding: 0;
    text-decoration: none;
}
#footer .foot-navi {
    color: #666;
}
#footer .foot-navi-on {
    color: #00aced;
}
#footer li .article_count {
    position: absolute;
    top: 3px;
    left: 31%;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 8px;
    background-color: #f44;
    color: #fff;
}

/*------------------------------------------------------------------------------
form
------------------------------------------------------------------------------*/
.edit {
    position: absolute;
    top: 50px;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 50px);
    background-color: #fff;
    padding: 5px 15px;
}
.field {
    width: 100%;
}
.form_label {
    display: block;
    font-size: 0.7em;
}
.sessions {
    width: 100%;
    margin: 0;
    padding: 30px 0 0 0;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.sessions .login_form {
    margin: 0;
    padding: 0 15px;
    width: calc(100% - 30px);
    height: 60px;
    border-bottom: 1px solid #ddd;
}

.remember_label {
    font-size: 0.7em;
    margin: 0 0 0 15px;
}
.textform {
    width: 100%;
    margin: 0;
    height: 55px;
    border: none;
}
.actions {
    margin-top: 20px;
    text-align: center;
}
.button {
    -webkit-appearance: none;
    width: 50%;
    height: 40px;
    background-color: #69e;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-size: 0.9em;
}
.repass {
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    margin: 15px 0 50px 0;
}