/*------------------------------------------------------------------------------
    検索フォーム
------------------------------------------------------------------------------*/
.art_search {
    -webkit-appearance: none;
    position: fixed;
    top: 50px;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.3);

    .search_btn {
        position: fixed;
        top: 60px;
        left: 15px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        background-image: url("/assets/search.png");
        background-size: contain;
        border: 1px solid #88f;
        border-radius: 3px;
    }
    #submit[disabled] {
        border: none;
        box-shadow: none;
        }
    .search {
        position: fixed;
        top: 60px;
        left: 60px;
        height: 28px;
        width: -webkit-calc(100% - 75px);
        width: calc(100% - 75px);
        border: none;
        
    }
    .cancel {
        -webkit-appearance: none;
        position: fixed;
        top: 65px;
        right: 20px;
        width: 20px;
        height: 20px;
        border: none;
        background-color: #fff;
        background-image: url("/assets/cancel.png");
        background-size: contain;
    }
    #cancel[disabled]{
        visibility: hidden;
    }
}

/*------------------------------------------------------------------------------
    記事一覧
------------------------------------------------------------------------------*/
.art_sent {
    width: 100%;
    margin-top: 110px;
    .check {
        margin: 0;
        padding: 0 15px;
        color: #666;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        font-size: 0.8em;
    }
    .articles {
        color: #555;
        .art {
            border-bottom: 1px solid rgba(0,0,0,0.3);
            background-color: #fff;
            width: 100%;
            padding: 0;
            .checked {
                width: 10px;
                height: 10px;
                background-color: #7e8;
                float: right;
                margin: 10px;
                border-radius: 5px;
            }
            .article_title{
                margin: 0 15px;
                padding: 0;
                padding-top: 10px;
                .article_link {
                    width: 100%;
                    color: #444;
                    text-decoration: none;
                }
            }
            .article_time {
                font-size: 0.7em;
                color: #77e;
                padding: 0;
                margin: 0 15px 10px 15px;
                right: 5px;
            }
        }
    }
}

/*------------------------------------------------------------------------------
新規登録
------------------------------------------------------------------------------*/
.new_article {
    display: block;
    width: 100%;
    height: 20px;
    text-align: right;
    text-decoration: none;
    font-size: 0.7em;
    color: #555;
}

/*------------------------------------------------------------------------------
showページ
------------------------------------------------------------------------------*/
.article {
    color: #555;
    width: 100%;
    height: 100%;
    .released {
        font-size: 0.8em;
        color: #777;
    }
    p {
        font-size: 0.9em;
    }
    .art_show {
        height: 100%;
        .art_tit {
            margin: 0 15px;
            padding: 0;
            font-size: 0.8em;
            color: #666;
        }
        .art_cont {
            margin: 0;
            padding: 0 0 60px 0;
            background-color: #fff;
            border-top: 1px solid rgba(0,0,0,0.3);
            border-bottom: 1px solid rgba(0,0,0,0.3);
            h2 {
                font-size: 1.1em;
                font-weight: lighter;
                margin: 0 15px;
                padding: 10px 0 0 0;
                border-bottom: 1px solid rgba(0,0,0,0.3);
            }
            p {
                margin: 0 15px;
                padding: 0;
            }
            .show_text {
                margin: 10px 15px 0 15px;
                padding: 0;
                font-size: 0.9em;
            }
        }
    }
}