// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact {
    margin: 0;
    padding: 0;
    .contact_content {
        margin: 0; 
        color: #444;
        font-size: 0.9em;
        .space {
            margin-top: 20px;
        }
        .daily {
            width: 100%;
            background-color: #fff;
            padding: 3px 0 5px 0;
            border-top: 1px solid rgba(0,0,0,0.3);
            border-bottom: 1px solid rgba(0,0,0,0.3);
        }
        .content {
            font-weight: lighter;
            background-color: #222;
            color: #fff;
            .slider div {
                width: calc(100% - 30px);
                margin: 10px auto;
                .remark {
                    font-size: 0.8em;
                }
            }
        }
        h4 {
            padding: 0;
            margin: 0 15px;
            margin-top: 5px;
            font-weight: lighter;
            font-size: 0.8em;
            color: #666;
        }
        h3 {
            font-size: 0.8em;
            font-weight: lighter;
            margin: 0 15px;
            padding: 0;
            color: #666;
        }
        .change {
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: #fff;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            .cont {
                width: 100%;
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                .cont_in {
                    padding: 10px 15px;
                    width: calc(100% - 30px);
                }
            }
            span {
                font-size: 0.9em;
                color: #00aced;
                float: right;
            }
        }
    }
    .new {
        color: #000;
        font-size: 0.8em;
        text-decoration: none;
        float: right;
    }
}