// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list{
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    p {
        width: 100%;
        margin: 0;
        a {
            display: block;
            height: 70px;
            padding: 0;
            margin: 0;
            text-decoration: none;
            border-top: 1px solid #aaa;
            span{
                .img {
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    vertical-align: top;
                    margin: 15px;
                }
            }
            
            .list_text {
                padding: 0;
                line-height: 70px;
                vertical-align: 50%;
                color: #444;
            }
        }
        .list_last {
            border-bottom: 1px solid #aaa;
        }
    }
}