.tops {
    #semester_btn {
        width: 100%;
        height: 20px;
        .btn {
            -webkit-appearance: none;
            position: fixed;
            z-index: 0;
            top: 50px;
            width: 50%;
            height: 40px;
            background-color: #fff;
            color: #00aced ;
            border: none;
            border-bottom: 1px solid #00aced ;
            border-radius: 0px;
        }
        .btn1 {
            position: fixed;
            left: 0;
            top: 50px;
        }
        .btn2 {
            position: fixed;
            left: 50%;
            top: 50px;
        }
        .checked {
            background-color: #00aced ;
            color: #fff;
        }
    }
    .schedule {
        padding: 0;
        h3 {
            width: 100%;
            padding: 0 15px;
            margin: 0;
            font-size: 0.8em;
            color: #666;
        }
        .da {
            width: calc(100% - 30px);
            border-bottom: 1px solid rgba(0,0,0,0.3);
        }
        h4 {
            margin: 0;
            padding: 0 15px;
            font-size: 0.8em;
            font-weight: lighter;
            color: #666;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
        .contact_s {
            margin: 0 0 0 15px;
            color: #f00;
            .contact {
                color: #f00;
            }
        }
        .coma {
            width: 100%;
            padding: 15px 0;
            background-color: #fff;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            div {
                margin: 0 15px;
                .place {
                    float: right;
                    margin: 0 15px;
                }
            }
        }
    }
    .weekly {
        margin-top: 10px;
    }
    .new {
        text-align: center;
        font-size: 0.8em;
    }
}


/*----------------------------------------------
    登録フォーム
----------------------------------------------*/
.tops_new {
    width: 100%;
    div {
        margin: 20px;
        li {
            list-style: none;
        }
    }
    .submit_btn {
        text-align: center;
    }
}
