<!DOCTYPE html>
<html>
<head>
  <title>Portal | Senshu Uni.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
  <div id="header">
    <%= render "shared/header" %>
  </div>

  <div id="contents">
    <%= yield %>
  </div>
  
  <% if current_user %>
    <div id="footer">
      <%= render "shared/footer" %>
    </div>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
